/* Tag selector */
body {
    background-color: lightblue;
}

/* Class selector */
.class-example {
    color: rgb(25, 40, 151);
}

/* ID selector */
#id-example {
    font-size: 20px;
}

/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

/* Attribute selector */
input[type="text"] {
    background-color: rgba(61, 6, 157, 0.585);
}

/* Combinatorial selectors, child/descendant selectors */
div > p {
    color: rgb(237, 22, 22);
}
div p {
    color: blue;
}

/* Advanced selectors */
p:not(.class-example) {
    color: purple;
}
a:active {
    color: orange;
}
a:hover {
    color: pink;
}
p:nth-child(odd) {
    background-color: grey;
}


* {
    box-sizing: border-box;
}


.center-input {
    display: flex;
    justify-content: center;
}


#id-example {
    color: blue;
}


input[type="text"] {
    width: 200px;
}


.parent > p {
    margin: 10px 0;
}


.parent .index-link {
    color: red;
}


#index-link:not(.active) {
    color: green;
}

#index-link:hover {
    text-decoration: underline;
}

.parent p:nth-child(2) {
    font-weight: bold;
}


/* Button styles */
button {
    background-color: #ccc;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: slategray;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: darkslategray;
}
